on:
  push:
    branches-ignore:
      - "!main"
    tags:
      - '*'           # Push events to every tag not containing /
  workflow_dispatch:

name: Publish

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Publish crate
        run: cargo publish --token ${CRATES_IO_API_KEY}
        env:
          CRATES_IO_API_KEY: ${{ secrets.CRATES_IO_API_KEY }}